.card {
  margin-bottom: 20px;
  padding: 13px;
  border-radius: 15px;
  border-color: #282c34;
  border-width: 5px;
  box-shadow: 5px 5px #00050e;
}

.card-header {
  background-color: #01050ea8;
  border-radius: 15px;
  color: white;
}

.btn {
  margin-right: 10px;
}

.btn-green {
  background-color: rgb(24, 172, 24);
}

.btn-red {
  background-color: red;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
